@import url(./menu-lateral.css);
@import url(./card-principal.css);

:root {
    --cor-de-fundo-cards : #171D1F;
    --cor-verde-destaque : #81fe88;
    --cor-de-fundo-geral : #00090e;
    --cor-cinza-medio-texto : #888888;
}

body {
    background-color: var(--cor-de-fundo-geral);
    font-family: "Prompt", sans-serif;
}

.principal {
    width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}